---
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";
import logo from "assets/logo.svg";

const menuitems = [
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Docs",
    path: "/docs",
  },
  {
    title: "Github",
    path: "https://github.com/cisco-open/camblet",
  },
  {
    title: "Slack",
    path: "https://outshift.com/slack",
  },
];
---

<header
  class="max-w-screen-xl px-5 mx-auto py-5 w-full"
  x-data="{ open: false }"
  x-init="$watch('open', value => console.log(value))">
  <div
    class="flex flex-col min-w-max lg:flex-row lg:w-full justify-between items-center">
    <div class="flex items-center justify-between w-full">
      <a href="/" class="text-lg flex w-auto lg:mt-0">
        <Picture
          src={logo}
          alt="Logo"
          widths={[200, 400, 600]}
          sizes="(max-width: 60px) 10vw, 60px"
          aspectRatio={1.2}
          loading="eager"
          format="avif"
          class="mix-blend-darken"
        />
        <span class="text-slate-800 pl-2 mt-3 text-xl font-extrabold"
          >Camblet</span
        >
      </a>
      <div class="block lg:hidden">
        <button @click="open = !open" class="text-gray-800">
          <svg
            fill="currentColor"
            class="w-4 h-4"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path
              x-cloak
              x-show="open"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"
            ></path>
            <path
              x-show="!open"
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <nav
      class="hidden w-auto lg:w-auto mt-2 lg:flex lg:mt-0"
      :class="{ 'block': open, 'hidden': !open }"
      x-transition>
      <ul class="flex flex-col lg:flex-row lg:gap-4">
        {
          menuitems.map((item, index) => (
            <>
              {
                <li>
                  <a
                    href={item.path}
                    class="flex justify-center lg:px-3 py-2 text-lg text-gray-600 hover:text-gray-900">
                    {item.title}
                  </a>
                </li>
              }
            </>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
