[Unit]
Description=Camblet Agent Service
After=network.target

[Service]
ExecStart=/usr/bin/camblet agent
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
