[Unit]
Description=Camblet Agent Service
After=network.target

[Service]
ExecStart=/usr/bin/camblet agent --config /etc/camblet/config.yaml --policies-path /etc/camblet/policies --services-path /etc/camblet/services
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
