---
import Link from "./ui/link.astro";
import Container from "./container.astro";
---

<Container>
  <div
    class="bg-black lg:px-20 p-12 md:pt-20 md:pb-16 my-10 md:my-20 mx-auto max-w-5xl rounded-3xl flex flex-col items-center text-center shadow-2xl">
    <h2 class="text-white text-4xl md:text-5xl">
      Secure your network traffic!
    </h2>
    <div class="flex mt-10">
      <Link
        href="docs/start/installation"
        style="outline"
        class="rounded-full font-bold text-base md:text-lg transition hover:scale-105">
        Try Camblet
      </Link>
    </div>
  </div>
</Container>
