---
import Link from "@components/ui/link.astro";
import NewsBanner from "./newsbanner.astro";
import { Icon } from "astro-icon";
---

<main class="flex flex-col items-center lg:pt-28 pb-8 pt-10 mb-20 md:mb-50">
  <!-- Uncomment and update if news is needed -->
  <!-- <NewsBanner /> -->
  <h1
    class="text-center text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
    Kernel Space Access Control for Zero Trust Networking
  </h1>
  <p class="text-center text-xl md:text-3xl mt-10 text-slate-600">
    Camblet is an open source cloud native security tool that authenticates,
    encrypts, and authorizes network communication between workloads. It assigns
    strong identities to processes and transparently establishes mTLS
    connections in Kernel space. Camblet facilitates the creation of a robust
    zero-trust networking environment.
  </p>
  <div class="flex md:flex-row md:justify-center mt-20 flex-col gap-3">
    <Link
      style="outline"
      class="rounded-full hover:scale-105 shadow-lg"
      href="docs/start/installation"
      href="docs">
      <span
        class="text-lg font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-pink-500"
        >Get Started
      </span>
    </Link>
    <Link
      size="lg"
      style="primary"
      class="hover:scale-105 rounded-full shadow-lg text-lg font-bold items-center justify-center flex gap-1"
      rel="noopener"
      href="https://github.com/cisco-open/camblet"
      target="_blank">
      <Icon class="text-white w-4 h-4" name="bx:bxl-github" />
      View Repo
    </Link>
  </div>
</main>
