<a
  href="https://sched.co/1dCTn"
  <div
  class="flex flex-row gap-3 items-center pl-2 pr-6 py-1.5 mb-10 md:mb-16 rounded-full bg-blue-300/50 transition hover:scale-105 hover:bg-blue-400">
  <button
    type="button"
    class="rounded-full px-3 bg-white p-1.5 text-sm md:text-base font-bold leading-none flex items-center">
    June 26-27
  </button>
  <span class="text-sm font-bold block md:hidden"> Meet us in Seattle! </span>
  <span class="text-base font-bold hidden md:block">
    Meet us at CloudNativeSecurityCon in Seattle!
  </span>
</a>
