<div class='lg:flex md:grid md:grid-col-3 grid gap-12 items-center justify-center py-40 lg:gap-16'>
    <div class='flex mx-auto bg-white rounded-3xl shadow-xl'>
         <div class="grid rounded-3xl max-w-sm shadow-sm bg-slate-100  flex-col">
            <img
                src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                width="390"
                height="200"
                class="rounded-t-3xl justify-center grid h-80 object-cover"
                alt="movie.title"
                /> 
            <div class="group p-6 grid z-10">
                <a
                href=#
                class="group-hover:text-cyan-700 font-extrabold sm:text-4xl line-clamp-2"
                >
                    Quickstart
                </a>
                <div class="h-28">
                    <span class="line-clamp-4 py-2 text-base font-light leading-relaxed">
            Easy to try, easier to deploy.
                    </span>
                </div>
            </div>
         </div>
    </div>
    <div class=' mx-auto bg-white rounded-3xl shadow-xl'>
        <div class="grid rounded-3xl max-w-sm shadow-sm bg-slate-100  flex-col">
           <img
               src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
               width="390"
               height="200"
               class="rounded-t-3xl justify-center grid h-80 object-cover"
               alt="movie.title"
               /> 
           <div class="group p-6 grid z-10">
               <a
               href=#
               class="group-hover:text-cyan-700 font-extrabold sm:text-4xl line-clamp-2"
               >
                   Quickstart
               </a>
               <div class="h-28">
                   <span class="line-clamp-4 py-2 text-base font-light leading-relaxed">
                    Easy to try, easier to deploy.
                   </span>
               </div>
           </div>
        </div>
   </div>
   <div class=' mx-auto bg-white rounded-3xl shadow-xl'>
    <div class="grid rounded-3xl max-w-sm shadow-sm bg-slate-100  flex-col">
       <img
           src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
           width="390"
           height="200"
           class="rounded-t-3xl justify-center grid h-80 object-cover"
           alt="movie.title"
           /> 
       <div class="group p-6 grid z-10">
           <a
           href=#
           class="group-hover:text-cyan-700 font-extrabold sm:text-4xl line-clamp-2"
           >
               Quickstart
           </a>
           <div class="h-28">
               <span class="line-clamp-4 py-2 text-base font-light leading-relaxed">
                Easy to try, easier to deploy.
               </span>
           </div>
       </div>
    </div>
</div>
</div>