---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-3xl flex flex-col items-center text-center shadow-2xl py-auto">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Secure your network traffic!
  </h2>
  <div class="flex mt-10">
    <Link href="/docs/introduction" class="rounded-full" style="inverted">Try Nasp</Link>
  </div>
</div>
