
---
import { Icon } from "astro-icon";
---
<!-- <footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} NASP maintainers. All rights reserved.
  </p>
</footer> -->

<!-- Foooter -->
<footer class="mt-32 relative z-0">
  <section class="bg-black">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8 ">
      <nav class="flex flex-wrap justify-center -mx-5 -my-2">
        <div class="px-5 py-2">
          <a href="/nasp/docs" class="text-base leading-6 text-gray-500 hover:text-gray-900">
            Docs
          </a>
        </div>
        <div class="px-5 py-2">
          <a href="/nasp/blog" class="text-base leading-6 text-gray-500 hover:text-gray-900">
            Blog
          </a>
        </div>
        <div class="px-5 py-2">
          <a href="/nasp/contact" class="text-base leading-6 text-gray-500 hover:text-gray-900">
            Contact
          </a>
        </div>
      </nav>
      <div class="flex justify-center mt-8 space-x-6">
            <a href="#" class="text-gray-400 hover:text-gray-500">
              <span class="sr-only">X</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584l-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/></svg>
            </a>
            <a href="#" class="text-gray-400 hover:text-gray-500">
              <span class="sr-only">GitHub</span>
              <Icon class="w-6 h-6" name="simple-icons:github" />
            </a>
          </div>
          <p class="mt-8 text-base leading-6 text-center text-gray-400">
            Copyright © {new Date().getFullYear()} NASP maintainers. All rights reserved.
          </p>
        </div>
  </section>
</footer>