---
// @ts-ignore
import { Icon } from "astro-icon";
import Sectionhead from "@components/sectionhead.astro";

---

<div class="pb-32">
  <Sectionhead>
    <Fragment slot="title">Works with your technologies</Fragment>
      <Fragment slot="desc">
        Supporting every Linux based machine, bare-metal, vanilla VM, Kubernetes.
      </Fragment>
    <!-- <h2 class="text-center text-slate-500">Works with your technologies</h2> -->
  </Sectionhead>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-14" name="simple-icons:kubernetes" />
    <Icon class="h-8 md:h-12" name="simple-icons:redhat" />
    <Icon class="h-8 md:h-16" name="simple-icons:vmware" />
    <Icon class="h-8 md:h-12" name="simple-icons:ubuntu" />
    <Icon class="h-8 md:h-12" name="simple-icons:linux" />
  </div>
</div>
